/* General Styling */
body {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  background-color: #440505;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}

/* Begin Page Styling */
.start {
  background: rgba(157, 141, 4, 0.4);
  margin-top: 33vh;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 15px;
  box-shadow: 0.75px 0.75px rgb(162, 92, 92);
}

#start-button {
  margin-bottom: 2vh;
}

.start h1 {
  color: #380404;
  font-size: 2.5rem;
  text-shadow: 0.75px 0.75px #000;
}

.start p {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
}
/* Fin Page Styling */
